<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please fill the form below...</h1>
{% for message in messages  %}

<p><center style="color: chocolate;"> {{ message }} </center></p>

{% endfor %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> send </button>
    </form>
</body>
</html>



<!-- make with heart by Donald -->