<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>search nui</h1>

    <form action="" method="get">
        <label for="nui"> NUI</label>
        <input type="text" placeholder="Entr the nui" name="nui" id="nui">
        <button type="submit"> search </button>
    </form>
    {{  message }}
    <br>
    <br>
    <br>
    <a href="{% url 'create' %}">create a new nui</a> 
</body>
</html>